
.container {
  padding: 10em 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.introContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 6em;
  margin-bottom: 2em;
}

.introCopyContainer {
  width: 50%;
}

.hero {
  margin-bottom: 2em;
}

.quote {
  grid-area: quote;
  padding-bottom: 2em;
  font-size: 1.75rem;
  font-weight: 600;
  font-style: normal;
  font-kerning: normal;
  line-height: 37px;
}

.introCopy {
  grid-area: introCopy;
  padding-bottom: 2em;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  font-kerning: normal;
  line-height: 33px;
}

.introList {
  padding-bottom: 2em;
  grid-area: introList;
  list-style: none;
  font-size: 1.5rem;
  line-height: 33px;
}

.introList li {
  margin-bottom: 10px;
}

.townHallContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.townHallGraphic {
  width: 100%;
  transform: scale(1.65);
}

.demandsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6em;
  margin-bottom: 4em;
}

.sectionTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2em;
}

.demandsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.demandsList li {
  background-image: url('/PinkSquare.svg');
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
}

.demandsList h2 {
  margin-bottom: .75em;
}

.demandsList p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

.petitionContainer {
  width: 100%;
}

.jotformIframe {
  width: 100%;
  height: 1700px;
  border: none;
}

.messagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4em;
}

.messagesList {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.messageCard {
  background-color: #d6f6ff;
  border-radius: 30px;
  width: 480px;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0 1em 2em 1em;
}

.messageContent {
  display: flex;
  width: 50%;
  max-height: 500px;
  text-align: center;
  overflow-y: scroll;
  font-size: .9rem;
  margin: 1em 1em 1em 0.5em;
  padding-right: .8em;
  scrollbar-color: rgba(36, 36, 174, 0.5) transparent;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #88f5ce;
  white-space: pre-wrap;
}

.footerContent {

  text-align: center;
  }

@media (max-width: 1000px) {
  .container {
    padding: 2em 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .hero {
    width: 360px;
    height: 45px;
    align-self: center;;
  }

  .quote {
    padding-bottom: 1em;
  }

  .introContainer {
    padding: 0 2em;
    flex-direction: column;
  }

  .introCopyContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .introList {
    margin-bottom: 1em;
  }

  .demandsContainer {
    padding: 0 2em;
  }

  .townHallContainer {
    width: 100%;
    margin-bottom: 10em;
  }

  .townHallGraphic {
    width: 100%;
    transform: scale(1.5);
  }

  .sectionTitle {
    margin-bottom: 1em;
  }

  .petitionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em
  }

  .petitionContent {
    width: 100%;
  }

  .jotformIframe {
    height: 2100px;
    width: 100%;
  }

  .messagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .messageCard {
    width: 90%;
    margin-bottom: 1em;
  }

  .messageImage {
    width: 130px;
    height: 130px;
  }
}
